/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ENDS */

@font-face {
    font-family: 'Charm';
    src: url(media/Charm-Regular.ttf);
}

body, button, input {
    font-family: 'Charm', cursive, sans-serif;
}

button:active {
    transform: scale(0.95);
}

#container {
    background-color: #4dbb68;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

/* HEADER */

#headerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}

#headerContent > h1 {
    align-self: center;
    justify-self: center;
    font-size: 50px;
    font-weight: 700;
}

#addBookButton {
    grid-area: 1 / 2 / 3 / 3;
    align-self: center;
    justify-self: center;
    background-color: #6b5445;
    color: whitesmoke;
    border-radius: 20%;
    font-weight: 700;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #2b683a;
}

/* BODY */

#libraryDisplay {
    background-color: #c4e5b3;
    display: grid;
    padding: 25px;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: row;
}

.bookContainer {
    background-color: #f2cd67;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 2fr) 1fr;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    align-items: center;
    max-height: 300px;
    box-shadow: 2px 2px 2px #607058;
}

.bookRemoveButton {
    grid-row: 1 / 2;
    justify-self: right;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
    background-image: url(media/close-circle.svg);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    border-style: none;
    cursor: pointer;
    border-radius: 100%;
    background-color: transparent;
    filter: invert(32%) sepia(20%) saturate(653%) hue-rotate(340deg) brightness(96%) contrast(86%);
    box-shadow: 1px 1px 1px #ffffff;
}

.bookTitle, .bookAuthor, .bookPages {
    font-size: 25px;
    text-align: center;
    grid-column: 1 / 3;
}

.bookTitle {
    font-style: italic;
}

.bookRead {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: #23804f;
    height: fit-content;
    grid-row: 4 / 5;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 2px 2px 2px #9c8442;
}

.bookNotRead {
    background-color: #c83540;
}

/* ADD BOOK FORM */

#popupForm {
    width: 280px;
    height: 370px;
    border: 1px solid Black;
    text-align: left;
    position: absolute;
    top: calc(50vh - (390px / 2));
    left: calc(50vw - (300px / 2)); 
    display: none;
    background-color: #f9f6d7;
    border-color: #a3a082;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}

#popupHeader {
    justify-self: center;
    font-size: 28px;
    font-weight: 700;
    grid-column: 1 / 3;
}

#bookInput {
    height: 300px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 20px;
    column-gap: 10px;
}

#title, #author, #pages, #submitBook {
    grid-column: 1 / 3;
}

#read, #bookInput > label {
    grid-row: 5 / 6;
}

input {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #456b49;
}

label {
    justify-self: end;
}

#submitBook {
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    background-color: #6b5445;
    color: whitesmoke;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 2px 2px 2px #a09e88;
}

#formBackground {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    filter: brightness(50%);
}